<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit dream</title>
    <%- include("../partials/header") %>
    <script src="https://cdn.tiny.cloud/1/jtypyuj9zafop37vzzdiq2j9tsyldw451muqsnsq3z5q129y/tinymce/6/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector: "textarea",
        plugins:
          "anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount preview",
        toolbar:
          "undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat | preview",
        setup: function (editor) {
          editor.on("change", function () {
            tinymce.triggerSave(); // Save the content of the editor to the textarea before form submission
          });
        },
      });
    </script>
  </head>
  <body>
    <h1>Edit Dream</h1>
    <%- include("../partials/messages") %>

    <form action="/profile/edit_dream/<%= dream._id %>" method="POST">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="<%= dream.title %>" required />
      <p><i class="fa fa-eye"></i> <%= formatViews(dream.views) %> views</p>

      <label for="description">Description:</label>
      <textarea id="description" name="description" required><%= dream.description %></textarea>

      <label for="categories">Categories:</label>
      <select id="categories" name="categories" multiple required>
        <option value="horrors" <% if (dream.categories.includes("horrors")) { %> selected <% } %>>Horrors</option>
        <option value="love_stories" <% if (dream.categories.includes("love_stories")) { %> selected <% } %>>Love Stories</option>
        <option value="fantasy" <% if (dream.categories.includes("fantasy")) { %> selected <% } %>>Fantasy</option>
        <option value="realistic" <% if (dream.categories.includes("realistic")) { %> selected <% } %>>Realistic</option>
        <option value="adventure" <% if (dream.categories.includes("adventure")) { %> selected <% } %>>Adventure</option>
        <option value="else" <% if (dream.categories.includes("else")) { %> selected <% } %>>Else</option>
      </select>
      <p>Hold down Ctrl (Cmd on Mac) to select multiple categories</p>

      <button type="submit">Save Changes</button>
    </form>

    <a href="/profile">Back to Profile</a>
  </body>
</html>
